<!DOCTYPE html>
<html>
<head>
    <title>Travel Chat</title>
    <!-- Webjar References -->
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <script src="webjars/bootstrap-datetimepicker/2.4.2/js/bootstrap-datetimepicker.js"></script>
    <link href="webjars/bootstrap-datetimepicker/2.4.2/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <script src="../js/web-reuse.js" type="text/javascript"></script>
    <script src="../js/editor.js" type="text/javascript"></script>

</head>
<style>
</style>
<meta content="width=device-width, initial-scale=1" name="viewport">
<body>
<template id="account-template">
    <div class="m-2 p-2 border border-dark">
        <div class="account-id"></div>
        <div class="account-name"></div>
        <div class="account-nickname"></div>
        <div class="account-trips"></div>
        <button class="btn-secondary" onclick="editAccount(event)">Edit Account &raquo;</button>
    </div>
</template>
<template id="trip-template">
    <div class="m-2 p-2 border border-dark">
        <div class="trip-id"></div>
        <div class="trip-leaving"></div>
        <div class="trip-arriving"></div>
        <div class="trip-departing"></div>
        <div class="trip-destination"></div>
        <div class="trip-mode"></div>
        <div class="trip-discoverable"></div>
        <div class="trip-attending"></div>
        <button class="btn-secondary" onclick="editTrip(event)">Edit Trip &raquo;</button>
    </div>
</template>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">TravelChat Navigation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/commute">Commute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/layover">Layover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/train">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bus">Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/walk">Walk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my/account">Account</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="alertStatus" class=""></div>
<div id="accordion">
    <div class="card">
        <button class="btn-link" data-toggle="collapse" data-target="#collapseOne">
            Toggle Account Section
        </button>
        <!--find a way to get the same margin for the other containers-->
        <div id="collapseOne" class="container collapse hidden">
            <form id="form-account">
                <fieldset><!--To draw a box around the form-->
                    <legend>Account</legend>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="account-id-input">Id</label>
                        <div class="col-sm-9">
                            <input id="account-id-input" name="account-id-input" type="text"
                                   class="form-control" placeholder="primary key"
                                   title="id of account to update eg: 507f1f77bcf86cd799439000">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label  font-weight-bold"
                               for="account-name-input">First Name</label>
                        <div class="col-sm-9">
                            <input id="account-name-input" name="account-name-input" type="text"
                                   class="form-control input-md" placeholder="What is the Name for the Account"
                                   title="Please enter your Actual Name, protected">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="account-nickname-input">Nickname</label>
                        <div class="col-sm-9">
                            <input id="account-nickname-input" name="account-nickname-input" type="text"
                                   class="form-control input-md" placeholder="nickname eg thedean"
                                   title="nickname is public, and Unique">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="account-trips-input">Trips</label>
                        <div class="col-sm-9">
                            <input id="account-trips-input" name="account-trips-input[]" type="text"
                                   placeholder='["a","b","c"]'
                                   class="form-control input-md"
                                   title='ids of trips for the account in format ["a","b","c"]'>
                        </div>
                    </div>
                    <!-- Submit-->
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input id="submit-account" class="btn-primary form-control input-md" type="submit"
                                   value="Submit">
                        </div>
                        <div class="col-sm-4">
                            <input id="get-account" class="btn-secondary form-control input-md" type="submit"
                                   value="Get">
                        </div>
                        <div class="col-sm-4">
                            <input id="clear-account" class="btn form-control input-md" type="submit" value="Clear">
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="row p-2" id="account-block"></div>
        </div>
    </div>
    <div class="card">
        <button class="btn-link" data-toggle="collapse" data-target="#collapseTwo">
            Toggle Location Section
        </button>

        <div id="collapseTwo" class="container collapse hidden">
            <h1>Location form under construction</h1>
            <form class="form-horizontal">
                <fieldset>

                    <legend>Location</legend>

                    <div class="form-group">
                        <label class="col-md-4 control-label font-weight-bold" for="location-id-input">Id</label>
                        <div class="col-md-4">
                            <input id="location-id-input" name="location-id-input" type="text"
                                   placeholder="Primary Key"
                                   class="form-control input-md" title="nickname is public, and Unique">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label font-weight-bold" for="location-name-input">Location
                            Name</label>
                        <div class="col-md-4">
                            <input id="location-name-input" name="location-name-input" type="text"
                                   placeholder="name of the location" class="form-control input-md">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label font-weight-bold"
                               for="location-longitude-input">Longitude</label>
                        <div class="col-md-4">
                            <input id="location-longitude-input" name="location-longitude-input" type="text"
                                   placeholder="longitude coordinates double" class="form-control input-md">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label font-weight-bold"
                               for="location-latitude-input">Latitude</label>
                        <div class="col-md-4">
                            <input id="location-latitude-input" name="location-latitude-input" type="text"
                                   placeholder="latitude coordinates double" class="form-control input-md">

                        </div>
                    </div>
                    <!-- Submit-->
                    <div class="form-group col-md-4">
                        <input id="submit-location" type="submit" value="Submit">
                        <input id="get-location" type="submit" value="Get">
                        <input id="clear-location" type="submit" value="Clear">
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    <div class="card">
        <button class="btn-link" data-toggle="collapse" data-target="#collapseThree">
            Toggle Trip Section
        </button>

        <div id="collapseThree" class="container collapse hidden">
            <form id="form-trip">
                <fieldset><!--To draw a box around the form-->
                    <legend>Trips</legend>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-id-input">Id</label>
                        <div class="col-sm-9">
                            <input id="trip-id-input" name="trip-id-input" type="text"
                                   class="form-control" placeholder="primary key"
                                   title="Id of the trip to update eg: 507f1f77bcf86cd799439000">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-leaving-input">Leaving</label>
                        <div class="col-sm-9">
                            <input id="trip-leaving-input" name="trip-leaving-input" type="text"
                                   class="form-control" placeholder="Leaving at date time"
                                   title='The time the trip starts eg "2019-01-01T23:00:00"'
                                   data-date-format="yyyy-mm-ddTHH:ii:ss">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-arriving-input">Arriving</label>
                        <div class="col-sm-9">
                            <input id="trip-arriving-input" name="trip-arriving-input" type="text"
                                   class="form-control" placeholder="Arriving at date time"
                                   title='The time the trip ends eg "2019-01-01T23:00:00"'
                                   data-date-format="yyyy-mm-ddTHH:ii:ss">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-departing-input">Departing</label>
                        <div class="col-sm-9">
                            <input id="trip-departing-input" name="trip-departing-input" type="text"
                                   class="form-control" placeholder="Departing Name"
                                   title="Name of the departing location">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-destination-input">Destination</label>
                        <div class="col-sm-9">
                            <input id="trip-destination-input" name="trip-destination-input" type="text"
                                   class="form-control" placeholder="Destination name"
                                   title="Name of the ending destination location">
                        </div>
                    </div>
                    <!--                    dropdown-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-mode-input">Mode</label>
                        <div class="col-sm-9">
                            <input id="trip-mode-input" name="trip-mode-input" type="text"
                                   class="form-control" placeholder="ModeOfTransport "
                                   title='ModeOfTransport eg Train, Walk ect'>
                        </div>
                    </div>
                    <!--                    checkbox-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-discoverable-input">Discoverable</label>
                        <div class="col-sm-9">
                            <input id="trip-discoverable-input" name="trip-discoverable-input" type="text"
                                   class="form-control" placeholder="true or false"
                                   title='Is your trip able to be found for matching, or is it private?'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold"
                               for="trip-attending-input">Attending</label>
                        <div class="col-sm-9">
                            <input id="trip-attending-input" name="trip-attending-input[]" type="text"
                                   placeholder='["a","b","c"]'
                                   class="form-control input-md"
                                   title='The ids of attending accounts in the format ["a","b","c"]'>
                        </div>
                    </div>
                    <!-- Submit-->
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input id="submit-trip" class="btn-primary form-control input-md" type="submit"
                                   value="Submit">
                        </div>
                        <div class="col-sm-4">
                            <input id="get-trip" class="btn-secondary form-control input-md" type="submit"
                                   value="Get">
                        </div>
                        <div class="col-sm-4">
                            <input id="clear-trip" class="btn form-control input-md" type="submit" value="Clear">
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="row p-2" id="trip-block"></div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2019-2020 MAK TravelChat. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</body>