<!DOCTYPE html>
<html>
<head>
    <title>Travel Chat</title>

    <script type="text/javascript" src="../js/web-reuse.js"></script>
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/libs/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<!--    <script src="../js/account-connector.js" type="text/javascript"></script>-->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="container-fluid">

<h1 >Welcome To The TravelChat Home Page</h1>

</body>