<!DOCTYPE html>
<html>
<head>
    <title>Travel Chat</title>

    <!-- Boostrap References -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="../js/web-reuse.js" type="text/javascript"></script>
<!--    <script src="../js/jquery-3.3.1.js"></script>-->
<!--    <script src="../js/libs/bootstrap-3.4.1-dist/js/bootstrap.js"></script>-->
<!--    <script src="../js/account-connector.js" type="text/javascript"></script>-->
</head>
<style>
    .tile-link {
        background: black;
        color :white;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 15px;
    }

    .tile-div{
        margin-bottom: 10px;
    }
</style>
<meta content="width=device-width, initial-scale=1" name="viewport">
<body class="container-fluid">

<h1 >Welcome To The TravelChat Home Page</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 p-3 tile-div">
            <a class="tile-link" href="/commute">
                <h3 class="title">Commute</h3>
                <p>Bored going to work?</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 p-3 tile-div" >
            <a class="tile-link" href="/layover">
                <h3 class="title">Layover</h3>
                <p>Caught on a long wait at the Airport?</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 p-3 tile-div" >
            <a class="tile-link" href="/train">
                <h3 class="title">Train Journey</h3>
                <p>Fancy a companion to through a tunnel?</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 p-3 tile-div" >
            <a class="tile-link" href="/bus">
                <h3 class="title">Bus Network</h3>
                <p>There are always some interesting characters on a bus!</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 p-3 tile-div" >
            <a class="tile-link" href="/walk">
                <h3 class="title">Hiking and Walks</h3>
                <p>Romantic walk on the Beach, or in the local park!</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 p-3 tile-div" >
            <a class="tile-link" href="/explore">
                <h3 class="title">Explore</h3>
                <p>See who's is broadcasting group trips</p>
            </a>
        </div>

    </div>
</div>
</body>